body {
    font-family: 'Lato', "Lucida Grande", "Lucida Sans Unicode", 'Tahoma', sans-serif;
    margin: 0px;
}

/* Nav banner */
.nav-banner {
    height: 65px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: none;
}

.nav-banner > .left-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.nav-banner > .left-wrapper img {
    height: 75;
    width: 150px;
    margin-left: 15px;
}

.nav-banner > .left-wrapper > .navbar {
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
    margin-left: 50px;
}

.nav-banner > .left-wrapper > .navbar > .text-explore {
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.nav-banner > .left-wrapper > .navbar > .text-explore p {
    color: #f2de7e;
    font-size: 0.8em;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 2px;
}

.nav-banner > .left-wrapper > .navbar > .links-nav {
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.nav-banner > .left-wrapper > .navbar > .links-nav a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 1rem;
}

.nav-banner > .left-wrapper > .spark a {
    text-decoration: none;
    color: #abada8;
    font-size: 0.9em;
    font-weight: bold;
}

.nav-banner > .left-wrapper > .spark i {
    font-size: 0.8em;
    margin-left: 10px;
}

.nav-banner > .right-nav-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}

.nav-banner > .right-nav-banner > .create {
    background-color: #36383f;
    padding: 12px 15px;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
}

.nav-banner > .right-nav-banner > .create a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.nav-banner > .right-nav-banner > .create i {
    color: #4bce79;
    margin-left: 5px;
}

.nav-banner > .right-nav-banner > .search-icon {
    color: #7b7e8b;
    font-size: 1.5rem;
}

.nav-banner > .right-nav-banner > .log-in {
    display: flex;
    justify-content: center;
    background-color: #36383f;
    width: 45px;
    padding: 12px 15px;
    border-radius: 3px;
}

.nav-banner > .right-nav-banner > .log-in a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: bolder;
}

.nav-banner > .right-nav-banner > .sign-up {
    display: flex;
    justify-content: center;
    background-color: #36383f;
    width: 58px;
    padding: 12px 15px;
    border-radius: 3px;
}

.nav-banner > .right-nav-banner > .sign-up a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: bolder;
}

/* Body container */
.body-homepage-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    width: 100%;
    height: 450px;
    background-color: #36383f;
    box-shadow: -200px -100px 125px 140px rgba(25,26,29,1) inset;
}

.body-homepage-container > .left-side {
    margin-left: 55px;
    margin-top: -30px;
}

.body-homepage-container > .left-side > .first-sentence {
    font-size: 2.4rem;
    color: white;
    font-weight: 300;
    margin-bottom: -20px;
}

.body-homepage-container > .left-side > .first-sentence img {
    width: 4%;
    height: auto;
}

.body-homepage-container > .left-side > .second-sentence {
    font-size: 1.8em;
    color: #abada8;
    font-weight: 300;
}

.body-homepage-container > .left-side > .bottons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body-homepage-container > .left-side > .bottons > .sign-up-btn {
    padding: 10px 20px;
    background-color: #4bce79;
    border-radius: 3px;
    margin-right: 10px;
}

.body-homepage-container > .left-side > .bottons > .sign-up-btn a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.body-homepage-container > .left-side > .bottons > .learn-more-btn {
    padding: 10px 20px;
    background-color: black;
    border-radius: 3px;
    margin-right: 10px;
}

.body-homepage-container > .left-side > .bottons > .learn-more-btn a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
}

.body-homepage-container > .right-side > .text-title p {
    margin-top: 60px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.body-homepage-container > .right-side > .text-title span {
    color: #5bcaf5;
}

.body-homepage-container > .right-side img {
    width: 100%;
    height: auto;
    box-shadow: -13px 3px 20px -6px #191a1d;
}

/* Bottom container */
.bottom-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    color: white;
    background-color: #36383f;
    height: 50px;
    border: 0.5px solid #7b7e8b;
}

.bottom-container > .grid-item {
    padding: 8px 0px;
    border: 0.5px solid #7b7e8b;
    text-align: center;
    align-content: center;
}

.bottom-container > .grid-item p {
    margin: 0px;
}

.bottom-container span {
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    font-size: 1.4em;
}

.spacer70 {
    height: 70px;
    background-color: #191a1d;
}